@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sedan+SC&display=swap');
body{
    font-family: "Sedan SC", serif;
    background-image: url(https://media.istockphoto.com/id/866298824/photo/kids-toys-background-with-teddy-bear-and-colorful-blocks.webp?b=1&s=170667a&w=0&k=20&c=f4oNYlIwVn_snE0po4_bhb766YSfrlMulP2ibEgaIE4=);
    background-size: cover;
    background-color:  white;
    background-repeat: no-repeat;
}
.container {
     display:flex;
    justify-content: space-around;
    align-items: flex-start;
    padding:14px;
    height:100%;

    


    

}

aside {
    flex: 1;
    max-width: 200px;
}

main {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid ;
    text-align: center;
    height: 80px;
    width: 10px;
    background-color:;
}

#toyname, #available_toys, #description, #price {

    padding: 10px;
    margin: 5px;
    width: 80%;
}

#toy_picture {
    height: 700%;
    max-width: 300px;
    

    margin: 10px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
#toys{
    padding:0px;
    list-style-type:none;
    
}

#toys li {
    border:1px  solid  black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition : background-color 0.3, border-color o.3s;
    width: 110px;
    background-color: lightgray;
}
#toys li:hover {
    background-color :grey;
    border-color: grey;
}